html {
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden; 
}

/* navbar */
    .nav-menu {
      /*background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .5));*/
      background: #fff;
      padding: 5px;
      transition: all .7s;
    }

    .menu-item {
      font-size: 13px;
      letter-spacing: 1px;
      transition: color .5s;
      color: black
    }

    .menu-item:hover {
      color: #dc3545;
    }

    .nav-active {
      color: #dc3545;
    }

    .line1,
    .line2,
    .line3 {
      background: black;
      width: 23px;
      height: 3px;
      margin: 5px;
      transition: all .4s;
    }

    .change .line1 {
      transform: rotate(-45deg) translate(-5px, 6px);
    }

    .change .line2 {
      opacity: 0;
    }

    .change .line3 {
      transform: rotate(45deg) translate(-5px, -6px);
    }

    .custom-navbar {
      padding: 5px 30px;
      background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .7));
    }



    .home-section {
  position: relative;
  z-index: 999;
    padding-top: 290px;
    padding-bottom: 225px;
    background: url(../img/1.jpg) center center no-repeat;
  background-size: cover;
}

.home-section-overlay{
  width: 100%;
  background: #252525;
  opacity: 0.65;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.home-section h1{
  margin-bottom: 15px;
    color: #fff;
    text-shadow: 1px 1px #454545;
    font-family: 'Khula', sans-serif;
}

.home-section p.hero-text{
  margin-bottom: 30px;
  font-size: 23px;
  line-height: 30px;
  font-weight: 400;
  color: #fff;
    text-shadow: 1px 1px #656565;
}

.btn-brown {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #fff;
  background-color: #dc3545;
  border: 2px solid #dc3545;
    box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.27);
    letter-spacing: 1px;
  border-radius: 5px 5px;
  margin: 15px 10px 0 0;
  padding: 18px 32px;
  display: inline-block;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

.vegas-background { height: auto!important; z-index: -1; }

/* -----  Animated Arrow ----- */
.arrow-down {
  position: absolute;
  left: 50%;
  margin-left:-25px;
  bottom: 0;
  margin-bottom: -200px;
}

.arrow-down i{
  font-size: 50px;
  color: #fff;
}

.arrow-down {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
.arrow-down {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}


/* ===================================
   About
====================================== */
.main-title {
    margin-bottom: 4rem;
    text-align: center;
}
.main-title h5 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: #ff1637;
}
.main-title h2 {
    text-transform: capitalize;
    font-weight: 500;
    color: #18191d;
    line-height: 1.2;
    max-width: 650px;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}
.main-title p {
    max-width: 950px;
    margin: 0 auto;
}
.about-3-boxes i {
    font-size: 50px;
    color: #18191d;
    padding: 2rem 0;
    display: block;
}
.hr-line {
    width: 40px;
    height: 3px;
    background: #dc3545;
    display: block;
    margin: 0 auto;
}











.nk-main {
    position: relative;
    background-color: #f6f6f6;
    z-index: 1;
}

.row.vertical-gap > [class*="col-"] {
    padding-top: 30px;
}

.row.vertical-gap {
    margin-top: -30px;
}

.nk-img-stretch {
    width: 100%;
    height: auto;
}

.grid-portfolio {
  padding-top: 100px;
}


.mt-4s {
  padding-top: 100px;
}



#services {
  background: #ebecfd;
}


@media (min-width: 576px) {
  .btp { margin-bottom: 20px;}
}

i {color: #dc3545; font-size: 40px}

 .accordion input[type="radio"] {
      position: absolute;
      left: -9999px;
    }

    .accordion label {
      display: block;
      cursor: pointer;
      background: #dc3545;
      color: #fff;
      padding: 20px 55px 20px 25px;
      position: relative;
    }

    .accordion label:after {
      content: '+';
      position: absolute;
      top: 50%;
      right: 25px;
      transform: translateY(-50%);
    }

    .accordion label:hover {
      background: red;
    }

    .accordion .content {
      max-height: 0;
      overflow: hidden;
      padding: 0 25px;
    }

    .accord {
      background: #f4f4f4;
    }

    .accordion input[type="radio"]:checked ~ .content {
      max-height: 1000px;
      border: 1px #dc3545;
      padding: 25px;
      transition: padding 0.3s cubic-bezier(0.1, 4.5, 0.8, 1.5);
    }

    .accordion input[type="radio"]:checked ~ label {
      background:#dc3545;
    }

    .accordion input[type="radio"]:checked ~ label:after {
      content: '-';
    }


.bg-parallax {
  position: relative;
  overflow: hidden;
}

.bg-parallax-img,
.bg-overlay {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-parallax-img {
  top: -50%;
  height: 200%;
  z-index: 1;
}

.bg-parallax-img > img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  max-width: none;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
}

.bg-overlay {
  top: 0;
  height: 100%;
  background-color: #000000;
  opacity: .5;
  z-index: 2;
}

.bg-parallax-content,
.bg-content {
  position: relative;
  z-index: 5;
}

.img-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

img,
figure {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.range {
  color: black;
  
}



    /*Accordion FAQ ENDS*/



/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
